.center-text {
    text-align: center;
}

.contact-div {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 100%;
    background-color: grey;
}

.contact-background {
    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    position: relative;
}

.contact-centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'SeoulHangangC';
    font-size: 4.3vw;
    color: black;
    text-align: center;
}

@font-face {
    font-family: 'SeoulHangangC';
    font-weight: 800;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCExtraBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCExtraBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCExtraBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCExtraBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/seoulhangang/SeoulHangangCExtraBold.ttf') format("truetype");
    font-display: swap;
}


