.center-text {
    font-size: large;
}

.copyright {
    font-size: 15px;
}

.company-logo {
    padding-top: 10px;
    
}

.three-icons {

}

.footer-bg {
    background-color: #f9d230;
    padding-top: 30px;
    padding-bottom: 30px;
}