.modal {
    position: fixed;
    left: 260px;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-modal-content {
    /* width: 1300px; */
    width: 80%;
    background-color: #fff;
    max-height: 50vh;
    overflow: scroll;
}

.modal-header,
.modal-footer {
    padding: 10px;
}

.modal-title {
    margin: 0;
}

.modal-body {
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}