/* To turn the admin page to dark theme once everything is combined properly */
body {
  background-color: rgba(255, 255, 255, 0.976);
  /* color: white; */
}


.admin-interface {
  /* margin-left: 30px; */
  margin: 10px auto;
  padding: 10px;
}

.centred {
  margin: 0 auto;
}

.formSection {
  margin: 10px auto;
}

.changeTimeBtn {
  background: #F49300;
  color: black
}

.interfaceButton {
  /* background: orange; */
  color: black
}

.interfaceButton:hover {
  color: white
}